@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: hsl(360, 88%, 72%);
    text-align: center;
}

/* Please note that 1rem = 16px */

h1 {
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
}

form {
    margin: auto 2rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgb(204, 102, 114) 0px 6px;
    text-align: left!important;

}

.invalid-msg {
    /* text-align: right; */
    margin-top: 5px;
    font-size: 14px;
    color: #dc3545;
    font-style: italic;
    font-weight: 500;
}

.valid-msg {
    /* text-align: right; */
    margin-top: 5px;
    font-size: 13px;
    color:rgb(56, 204, 137);
    font-style: italic;
    font-weight: 500;
}

label {
    font-weight: 500;
}

span {
    color: #dc3545;
}
.input-box {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    line-height: 1.5;
    color: #495057;
    width: 98.5%; 
    /* margin-top: 7px 10px 5px auto; */
    padding: 7px;
    font-size: 1rem;
    /* display: block; */
}

#submitBtn {
    /* display: inline-block; */
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
    width: 100%;
    background-color: rgb(56, 204, 137);
    font-weight: 500;
    box-shadow: rgb(54, 186, 126) 0px 4px;
    border-color: rgb(56, 204, 137);

    border-radius: calc(0.5em - 1px);
}

#submitBtn:hover {
    background-color: hsl(154, 65%, 68%);
    border-color: hsl(154, 65%, 68%);
    cursor: pointer;
}